{
  "CLOUDFLARE_ACCOUNT_ID": "",
  "CLOUDFLARE_API_TOKEN": "",
  "DATABASE_URL": "",
  "NEXTAUTH_SECRET": "9E7k2L5qP8vR3tN6xB1mC4wJ9fD7sA2g+H8jK6lM3n",
  "NEXTAUTH_URL": "",
  "CRON_SECRET": "",
  "BREVO_API_KEY": "",
  "FROM_EMAIL": "noreply@pratibhaparishad.in",
  "FACEBOOK_APP_ID": "",
  "FACEBOOK_APP_SECRET": "",
  "TELEGRAM_BOT_TOKEN": "",
  "RAZORPAY_KEY_ID": "",
  "RAZORPAY_KEY_SECRET": ""
}
